
<div class="loginSection">
  <div class="alert alert-danger" *ngIf="loginFailed == true" role="alert">
    <p>Login failed. Try again</p>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="!authService.isLoggedIn">
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" formControlName="username" type="text" name="username" value="" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" formControlName="password" type="password" name="password" value="" />
    </div>
    <input class="btn btn-primary" type="submit" value="Login" />
  </form>

  <p>
    <button class="btn btn-danger" id="logout" type="button" (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
  </p>
</div>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
