

<div class="container">
  <div class="row">
    <div class="col">
      <div *ngIf="!appointment" class="addAppointment">
        <h2>Add appointment</h2>

        <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="start">Start time</label>
              <input class="form-control" type="datetime-local" formControlName="start" name="start" required />
            </div>
            <div class="form-group col-md-6">
              <label for="duration">End time</label>
              <input class="form-control" type="datetime-local" formControlName="end" name="duration" required />
            </div>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" formControlName="name" name="name" />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" type="text" formControlName="description" name="description"></textarea>
          </div>
          <input type="submit" class="btn btn-primary" name="submit" value="Add appointment" />
        </form>
      </div>

      <!--<div *ngIf="appointment" class="addAppointment">
        <h2>Update appointment</h2>

        <form  [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="start">Start time</label>
              <input class="form-control" type="datetime-local" formControlName="start" name="start" [(ngModel)]="appointment.start" required />
            </div>
            <div class="form-group col-md-6">
              <label for="duration">End time</label>
              <input class="form-control" type="datetime-local" formControlName="end" name="duration" [(ngModel)]="appointment.duration" required />
            </div>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" formControlName="name" name="name" [(ngModel)]="appointment.name"/>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" type="text" formControlName="description" name="description" [(ngModel)]="appointment.description"></textarea>
          </div>
          <input type="submit" class="btn btn-primary" name="submit" value="Update appointment" />
        </form>
      </div>
    </div>-->
    <div class="col">
      <h2 id="tableLabel">appointments</h2>
      <table class="table table-md" *ngIf="appointments">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Start</th>
            <th>Duration</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of appointments">
            <td>{{ appointment.name }}</td>
            <td>{{ appointment.description}}</td>
            <td>{{ appointment.start}}</td>
            <td>{{ appointment.duration}}</td>
            <td><button class="btn btn-secondary" (click)="edit(appointment)">Edit</button></td>
            <td><button class="btn btn-danger" (click)="delete(appointment)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>-->



