<h1 id="tableLabel">Upcoming appointments</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!appointments"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="appointments">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Start</th>
            <th>Duration</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let appointment of appointments">
            <td>{{ appointment.name }}</td>
            <td>{{ appointment.description}}</td>
            <td>{{ appointment.start}}</td>
            <td>{{ appointment.duration}}</td>
           
        </tr>
    </tbody>
</table>


<router-outlet></router-outlet>
